asn1crypto==0.24.0
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
cryptography==2.2.2
enum34==1.1.6
idna==2.7
ipaddress==1.0.22
numpy
pycparser==2.18
pyOpenSSL==18.0.0
PySocks==1.6.8
requests
six==1.11.0
urllib3==1.23g
scikits.audiolab